.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    height: 60px;
    padding: 0 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    height: 40px;
    cursor: pointer;
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  
  .item {
    margin-left: 20px;
    text-decoration: none;
    color: #9a9898;
  }
  
  .item:hover {
    color: #a9a3a3;
  }
  
  .signout {
    background-color: #000000;
    color: #f44336;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signout:hover {
    background-color: #000000;
    color: #f44336;
  }
  